html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
  font-family: "Lucida Grande",Arial,sans-serif;
  font-size: 10px;
  color: #333;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
:focus {
	outline: 0;
}
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
p {
  margin-bottom: 1em;
  line-height: 1.5;
}
a {
  color: #4492D7;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.disabled {
  color: #aaa;
}

a.button, button, input[type=submit] {
  outline: none;
  border: 1px solid #aaa;
  padding: 7px 10px;
  border-radius: 5px;    
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd));
  color: #333;
  text-shadow: 0 1px rgba(255,255,255,0.8);
  text-decoration: none;
  font-size: 11px;
}

a.button:active, button:active, input[type=submit]:active {
  background: -webkit-gradient(linear, left top, left bottom, from(#ddd), to(#eee));
}

a.button:focus, button:focus, input[type=submit]:focus {
  border-color: #999;
  -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.3);
}

select {
  border: 1px solid #aaa;
  padding: 3px;
}
