body {
  font-family: "Lucida Grande",Arial,sans-serif;
  font-size: 10px;
  margin: 0;
  padding: 0;
}

button, input[type=submit] {
  border: 1px solid #aaa;
  padding: 7px 10px;
  border-radius: 5px;    
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd));
  color: #333;
  text-shadow: 0 1px rgba(255,255,255,0.8);
}

button:active, input[type=submit]:active {
  background: -webkit-gradient(linear, left top, left bottom, from(#ddd), to(#eee));
}

select {
  border: 1px solid #aaa;
  padding: 3px;
  height: 25px;
}

div.error.ui-dialog-content.ui-widget-content {
  padding-left: 40px;
  background-repeat: no-repeat;
  background-position: 12px 12px;
  background-image: url('../img/exclamation-red.png');
}

#options {
  -webkit-user-select: none;
} 

  #options-center {
    background-color: #ededed !important;
    border-bottom: 1px solid #aaa !important;
    padding: 10px;
    border-top: 1px solid #aaa;
  }

  #options fieldset {
    margin: 10px 0;
    border: none;
    border-top: 1px solid #ccc;
    padding: 10px;
  }

  #options fieldset legend {
    font-weight: bold;
    color: #333;
    padding: 0 5px;
    text-shadow: 0 1px rgba(255,255,255,0.9);
  }

  #options-head {
    margin: 0;
    padding: 0;
    width: 100%;
  }

    #options-head td {
      padding: 5px;
    }

    #options-head input[type=text] {
      border: 1px solid #999;
      border-radius: 5px;
      -webkit-box-shadow: inset 1px 2px 3px rgba(0,0,0,0.2);
      padding: 5px 5px;
    }

  #options-selector {
    width: 100%;
  }

  #options-footer {
    height: 30px;
    border-top: 1px solid #fff !important;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0.1, #ccc), color-stop(0.8, #eee));
    padding: 10px;
  }

    #options-footer table {
      width: 100%;
      margin: 0;
      padding: 0;
      border: 0;
      border-collapse: collapse;
    }
  
      #options-footer table td {
        margin: 0;
        padding: 0;
        text-align: right;
      }

      #options-footer table td:first-child {
        text-align: left;
      }

  #options-attributes {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
  }

  #options-attributes tbody td {
    padding: 4px;
  }

  #options-attributes thead tr {
    border: 1px solid #ccc;
  }

  #options-attributes thead th {
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0.1, #ccc), color-stop(0.8, #eee));
    border: none;
    color: #333;
    padding: 4px;
    text-align: left;
    text-shadow: 0 1px rgba(255,255,255,0.9);
  }

  #options-attributes .dragHandle {
    width: 16px;
    cursor: move;
    background-image: url('../img/handle.png');
    background-position: left center;
    background-repeat: no-repeat;
  }

  #options-attributes tr.tDnD_whileDrag {
    opacity: 0.5;
  }

  #options-attributes tr.tDnD_whileDrag .dragHandle {
    background-position: left center;
    background-repeat: no-repeat;
  }

  #options-attributes input {
    width: 100%;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    padding: 0;
    background: transparent;
    padding: 4px 2px;
  }

  #options-attributes input:focus {
    border: 1px solid #aaa;
    padding: 3px 1px;
    background-color: #fff;
  }

  #options-attributes img {
    margin-right: 5px;
  }

#center {
  margin-left: 380px;
  border-top: 1px solid #aaa;
}

  #results-table {
    border-bottom: 1px solid #aaa;
  }

  #results-table table {
    width: 100%;
    border-spacing: 0;
  }

  #results-table table thead {
    border-bottom: 1px solid #aaa;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0.1, #ccc), color-stop(0.8, #eee));
    color: #333;
    text-shadow: 0 1px rgba(255,255,255,0.9);
  }

  #results-table table thead tr {
    position: relative;
    top: 0;
  }

  #results-table table thead th {
    padding: 5px;
    border-left: 1px solid #fff;
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    cursor: pointer;
  }

  #results-table table td {
    padding: 5px;
  }

  #results-table table td.tools img {
    margin-right: 2px;
    cursor: pointer;
  }

  #results-table table tr.odd {
    background-color: #f0f0f0;
  }

  #results-table table tr:hover td {
    background-color: #f5f5ff;
  }

  #export {
    border-top: 1px solid #fff !important;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0.1, #ccc), color-stop(0.8, #eee));
    padding: 10px;
    text-align: right;
    height: 30px;
  }

    #export textarea {
      display: none;
    }
    
#help {
}

  #help h1 {
    margin: 0;
  }

  #help h2 {
    font-size: 100%;
  }
  
  #help dl {
    margin-top: 2em;
  }

.ui-widget-header {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0.1, #ccc), color-stop(0.8, #eee));
  border: none;
  border-bottom: 1px solid #aaa;
  width: 100%;
}

.ui-corner-all {
  border-radius: 0;
}

.ui-tabs {
  padding: 0;
}

.ui-state-default a {
  display: inline-block;
  vertical-align: top;
}

.ui-state-default a img {
  margin-right: 5px;
}

/*
 *  PANES & CONTENT-DIVs
 */
.ui-layout-pane {
  background: #FFF; 
  border:     1px solid #BBB;
  overflow:   auto;
}

  .ui-layout-content {
    position:   relative;
    overflow:   auto;
  }

/*
 *  RESIZER-BARS
 */
.ui-layout-resizer  { /* all 'resizer-bars' */
    background:     #eee;
    border-right: 1px solid #ddd !important;
    border-left: 1px solid #fff !important;
    border-width:   0;
    }
    .ui-layout-resizer-drag {       /* REAL resizer while resize in progress */
    }
    .ui-layout-resizer-hover    {   /* affects both open and closed states */
    }
    /* NOTE: It looks best when 'hover' and 'dragging' are set to the same color,
        otherwise color shifts while dragging when bar can't keep up with mouse */
    .ui-layout-resizer-open-hover , /* hover-color to 'resize' */
    .ui-layout-resizer-dragging {   /* resizer beging 'dragging' */
        background: rgba(255,255,255,0.5);
    }
    .ui-layout-resizer-dragging {   /* CLONED resizer being dragged */
      border-right: 1px solid #ddd !important;
      border-left: 1px solid #fff !important;
    }
    /* NOTE: Add a 'dragging-limit' color to provide visual feedback when resizer hits min/max size limits */
    .ui-layout-resizer-dragging-limit { /* CLONED resizer at min or max size-limit */
        background: #E1A4A4; /* red */
    }

    .ui-layout-resizer-closed-hover { /* hover-color to 'slide open' */
        background: #EBD5AA;
    }
    .ui-layout-resizer-sliding {    /* resizer when pane is 'slid open' */
        opacity: .10; /* show only a slight shadow */
        filter:  alpha(opacity=10);
        }
        .ui-layout-resizer-sliding-hover {  /* sliding resizer - hover */
            opacity: 1.00; /* on-hover, show the resizer-bar normally */
            filter:  alpha(opacity=100);
        }
        /* sliding resizer - add 'outside-border' to resizer on-hover 
         * this sample illustrates how to target specific panes and states */
        .ui-layout-resizer-north-sliding-hover  { border-bottom-width:  1px; }
        .ui-layout-resizer-south-sliding-hover  { border-top-width:     1px; }
        .ui-layout-resizer-west-sliding-hover   { border-right-width:   1px; }
        .ui-layout-resizer-east-sliding-hover   { border-left-width:    1px; }

/*
 *  TOGGLER-BUTTONS
 */
.ui-layout-toggler {
    border: 1px solid #ddd; /* match pane-border */
    background-color: #ddd;
    }
    .ui-layout-resizer-hover .ui-layout-toggler {
        opacity: .60;
        filter:  alpha(opacity=60);
    }
    .ui-layout-resizer-hover .ui-layout-toggler-hover { /* need specificity */
        background-color: #FC6;
        opacity: 1.00;
        filter:  alpha(opacity=100);
    }
    .ui-layout-toggler-north ,
    .ui-layout-toggler-south {
        border-width: 0 1px; /* left/right borders */
    }
    .ui-layout-toggler-west ,
    .ui-layout-toggler-east {
        border-width: 1px 0; /* top/bottom borders */
    }
    /* hide the toggler-button when the pane is 'slid open' */
    .ui-layout-resizer-sliding  ui-layout-toggler {
        display: none;
    }
    /*
     *  style the text we put INSIDE the togglers
     */
    .ui-layout-toggler .content {
        color:          #666;
        font-size:      12px;
        font-weight:    bold;
        width:          100%;
        padding-bottom: 0.35ex; /* to 'vertically center' text inside text-span */
    }

.sorting_asc {
	background: url('../img/control-090-small.png') no-repeat center right;
}

.sorting_desc {
	background: url('../img/control-270-small.png') no-repeat center right;
}

.sorting {
/*  background: url('../images/sort_both.png') no-repeat center right;*/
}

.sorting_asc_disabled {
	background: url('../img/control-090-small.png') no-repeat center right;
}

.sorting_desc_disabled {
	background: url('../img/control-270-small.png') no-repeat center right;
}